* {
    margin: 0;
    padding: 0;
    border: none;
}
#banner {
    text-align: center;
    background-color: black;
    color: white;
    font-size: 600%;
}

li {
    text-align: center;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Lora', serif;
}