* {
    margin: 0;
    padding: 0;
    border: none;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Lora', serif;
}

h2 {
    text-align: center;
}

#banner {
    line-height: 100px;
    letter-spacing: 5px;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 400%;
}

nav ul {
    height: 100px;
    background-color: grey;
    text-align: center;
    list-style: none;

}

nav li {
    position: relative;
    bottom: 20px;
    padding: 50px;
    font-size: 150%;
    display: inline-block;
}

li a {
    font-weight: bold;
    color: black;
}

li a:hover, #current {
    background-color: black;
    color: white;
}

.information {
    width: 100%;
    font-size: 150%
}

#descrip-text {
    width: 70%;
    display: inline-block;
}

#descrip-image {
    height: 350px; 
    width: 350px; 
    background: url('../images/napoleon2.jpg') center center/cover no-repeat;
    float: right;
}

#childhood {
    width: 50%;
    float: left;
}

#interests {
    width: 50%;
    float: right;
}
