* {
    margin: 0;
    padding: 0;
    border: none;
}

a {
    text-decoration: none;
}

body {
    font-size: 2rem;
    font-family: 'Lora', serif;
}

.page {
    text-align: center;
    font-size: 1em;
    background-color: rgb(1, 1, 75);
    color: white;
    line-height: 1.5em;
    letter-spacing: 1.5px;
}

#banner {
    font-size: 1.3em;
    line-height: 1.6em;
    letter-spacing: 3px;
    text-align: center;
    background-color: rgb(1, 1, 75);
    color: white;
}

nav ul {
    line-height: 0.5em;
    background-color: rgb(255 247 2);
    text-align: center;
    list-style: none;
}

nav li {
    font-size: 0.9em;
    position: relative;
    display: inline-block;
    padding: 1em;
}

li a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

li a:hover, #current {
    background-color: black;
    color: white;
}

.information {
    text-align: center;
    font-size: 0.8em;
}

#descrip-text {
    width: 62.5%;
    display: inline-block;
}

#descrip-image {
    height: 520px; 
    width: 37.5%; 
    background: url('../images/napoleon3.jpg') center center/cover no-repeat;
    float: right;
}

#childhood {
    width: 50%;
    float: left;
}

#interests {
    width: 50%;
    float: right;
}

#facts{
    margin-left: 1em;
    text-align: left;
    list-style-type: circle;
}

footer {
    font-weight: bold;
    width: 100%;
    text-align: center;
    padding: 1em;
    word-spacing: 1em;
    background-color:rgb(1, 1, 75);
    clear: both;
}

footer > a {
    color: white;
}

@media screen and (max-width: 400px) {
    body {
        font-size: 0.75rem;
    }

    #banner {
        letter-spacing: 1px;
    }

    nav li {
        padding: 0.35em
    }

    .information {
        font-size: 1.1em;
    }
}
